@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes fall {
    to {
      transform: translateY(100vh); /* Move the particles from top to bottom */
    }
  }
  
  /* Add this inside your global CSS or a <style> tag */
  :root {
    --triangle-width-large: 20rem;
    --triangle-height-large: 100vh;
  }

  @media (max-width: 768px) {
    :root {
      --triangle-width-large: 15rem; /* Smaller triangle width on medium screens */
      --triangle-height-large: 50vh; /* Smaller triangle height on medium screens */
    }
  }

  @media (max-width: 480px) {
    :root {
      --triangle-width-large: 10rem; /* Even smaller triangle width on small screens */
      --triangle-height-large: 30vh; /* Even smaller triangle height on small screens */
    }
  }

  @media (max-width: 1024px) {
    .bg-mobile {
      background-image: url("/soft-blue-color-gradient-background.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}

@layer components {
  .particle {
    position: absolute;
    background-color: white;
    opacity: 0.8;
  }
}
